/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/


html
{
   
    margin: 0;
    padding: 0;
}

#top
{
    height: 50px;
    width: 100%;
    background-color: black;
    float:left;
    position: fixed;
    margin-top:-10px;
}

#top h3
{
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}

#top h5
{
    margin-left: 10px;
}

#content h3
{
    margin-left: 20px;
}

#container
{
    width: 700px;
    background: white;
    margin: 0 auto;
    border: solid;
    border-color: #E6DCDC;
    border-width: 10px;
    
    -moz-box-shadow: 9px 10px 19px #000000;
    -webkit-box-shadow: 9px 10px 19px #000000;
    box-shadow: 9px 10px 19px #000000;
}

#nav
{
    height: 50px;
    background: black;
    margin-top: -20px;
    background:-webkit-gradient(linear, 10% 76%, 10% 21%, from(#000000), to(#FF1B1C));
}

table
{
    margin: 0 auto;
    text-align: center;
}

td
{
    width:200px;
    padding: 10px;
}

ul
{
    list-style: none;
}

li
{
    float: left;
    padding: 5px;
    margin-top: 10px;
    color: #E6DCDC;
}

a:link 
{
    color: #E6DCDC;
    text-decoration: none;
    font-weight: bold;
}

h1
{
    color: #E6DCDC;
    padding: 20px;
}

#show 
{
    margin: 0 auto;
    padding: 50px;
}

footer
{
    margin-left:  20px;
    margin-top: 20px;
    color: black;
    float: right;
}


